# Pandas Exercises

### 1. Import numpy, pandas, etc

In [49]:
import numpy as np

import pandas as pd
# import ....

### 2. Load the data from the file `"Loan payments data.csv"` into a variable called `"loans"`

In [52]:
loans = pd.read_csv("/content/Loan payments data.csv")
loans

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender,City
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male,Vancouver
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female,NYC
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female,Houston
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male,NYC
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female,Houston
...,...,...,...,...,...,...,...,...,...,...,...,...
495,xqd20160496,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/14/2016 19:08,3.0,28,High School or Below,male,Houston
496,xqd20160497,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,10/10/2016 20:02,14.0,26,High School or Below,male,LA
497,xqd20160498,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/29/2016 11:49,3.0,30,college,male,Maui
498,xqd20160499,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/11/2016 22:40,1.0,38,college,female,NYC
499,xqd20160500,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/19/2016 11:58,8.0,28,High School or Below,male,Calgary

### 3. Display the first 7 rows of the data

In [53]:
loans.head(7)

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender,City
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male,Vancouver
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female,NYC
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female,Houston
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male,NYC
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female,Houston
5,xqd20160706,PAIDOFF,300,7,9/9/2016,9/15/2016,9/9/2016 13:45,NaN,35,Master or Above,male,Houston
6,xqd20160007,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/7/2016 23:07,NaN,29,college,male,Maui

### 4. Display the last 3 rows of the data

In [54]:
loans.tail(3)

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender,City
497,xqd20160498,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/29/2016 11:49,3.0,30,college,male,Maui
498,xqd20160499,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/11/2016 22:40,1.0,38,college,female,NYC
499,xqd20160500,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/19/2016 11:58,8.0,28,High School or Below,male,Calgary

### 5. Select 25% of the data, picked randomly and display the first 5 rows

In [55]:
loans.sample(frac=0.25).head(5)

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender,City
323,xqd20160324,COLLECTION,800,15,9/10/2016,9/24/2016,NaN,75.0,32,college,male,NYC
209,xqd20160210,PAIDOFF,1000,30,9/12/2016,10/11/2016,10/11/2016 16:00,NaN,39,High School or Below,male,Vancouver
313,xqd20160314,COLLECTION,1000,30,9/10/2016,10/9/2016,NaN,60.0,20,High School or Below,male,LA
253,xqd20160254,PAIDOFF,500,7,9/13/2016,9/19/2016,9/17/2016 20:51,NaN,22,High School or Below,male,LA
260,xqd20160261,PAIDOFF,800,15,9/13/2016,9/27/2016,9/26/2016 7:48,NaN,51,college,male,Houston

### 6. Sample 10 rows and display it

In [57]:
loans.sample(10)

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender,City
70,xqd20160071,PAIDOFF,800,15,9/11/2016,9/25/2016,9/22/2016 21:18,NaN,29,college,male,LA
215,xqd20160216,PAIDOFF,1000,30,9/12/2016,11/10/2016,11/10/2016 16:00,NaN,29,college,female,NYC
309,xqd20160310,COLLECTION,800,15,9/10/2016,9/24/2016,NaN,75.0,41,college,male,Vancouver
456,xqd20160457,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,11/18/2016 15:52,38.0,25,college,male,NYC
149,xqd20160150,PAIDOFF,800,15,9/12/2016,9/26/2016,9/24/2016 10:14,NaN,35,Bechalor,male,LA
476,xqd20160477,COLLECTION_PAIDOFF,800,15,9/12/2016,10/26/2016,10/31/2016 13:07,5.0,46,college,female,Maui
221,xqd20160222,PAIDOFF,1000,30,9/12/2016,10/11/2016,10/11/2016 9:01,NaN,39,college,male,LA
216,xqd20160217,PAIDOFF,1000,15,9/12/2016,9/26/2016,9/21/2016 8:11,NaN,50,High School or Below,male,NYC
42,xqd20160043,PAIDOFF,1000,7,9/11/2016,9/24/2016,9/24/2016 9:00,NaN,31,Bechalor,male,NYC
67,xqd20160068,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/10/2016 9:00,NaN,37,High School or Below,male,NYC

### 7. Display the value counts of the `loan_status` column and the `City` column

In [58]:
loans['loan_status'].value_counts()

loan_status
PAIDOFF               300
COLLECTION            100
COLLECTION_PAIDOFF    100
Name: count, dtype: int64

In [59]:
loans.City.value_counts()

City
Houston      100
LA            90
Vancouver     82
Maui          78
Calgary       76
NYC           74
Name: count, dtype: int64

### 8. Display only the 201st row

In [63]:
loans.iloc[200]

Loan_ID              xqd20160201
loan_status              PAIDOFF
Principal                   1000
terms                         15
effective_date         9/12/2016
due_date               9/26/2016
paid_off_time     9/20/2016 8:26
past_due_days                NaN
age                           30
education                college
Gender                      male
City                          LA
Name: 200, dtype: object

### 9. Display only the `education` column

In [ ]:
oans['education']

### 10. Display only the `loan_status` column

In [ ]:
loans['loan_status']

### 11. Display only the 9th column by index

***(hint: remember that Python is 0-indexed!)***

In [64]:
loans.iloc[:, 8]

0      45
1      50
2      33
3      27
4      28
       ..
495    28
496    26
497    30
498    38
499    28
Name: age, Length: 500, dtype: int64

### 12. Display the 3rd through 7th rows by index slicing

In [65]:
loans.iloc[3:8]

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender,City
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male,NYC
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female,Houston
5,xqd20160706,PAIDOFF,300,7,9/9/2016,9/15/2016,9/9/2016 13:45,NaN,35,Master or Above,male,Houston
6,xqd20160007,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/7/2016 23:07,NaN,29,college,male,Maui
7,xqd20160008,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/5/2016 20:33,NaN,36,college,male,NYC

### 13. Display the last 3 columns by index slicing

In [70]:
loans.iloc[:,-3:]

                education  Gender       City
0    High School or Below    male  Vancouver
1                Bechalor  female        NYC
2                Bechalor  female    Houston
3                 college    male        NYC
4                 college  female    Houston
..                    ...     ...        ...
495  High School or Below    male    Houston
496  High School or Below    male         LA
497               college    male       Maui
498               college  female        NYC
499  High School or Below    male    Calgary

[500 rows x 3 columns]

### 14. Display only the rows where `Gender` is `female`

In [71]:
loans[loans["Gender"]=="female"]

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender,City
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female,NYC
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female,Houston
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female,Houston
13,xqd20160014,PAIDOFF,900,7,9/10/2016,9/16/2016,9/13/2016 21:57,NaN,26,college,female,Houston
21,xqd20160022,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/8/2016 17:09,NaN,43,High School or Below,female,Vancouver
...,...,...,...,...,...,...,...,...,...,...,...,...
465,xqd20169466,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/12/2016 12:54,1.0,49,High School or Below,female,Calgary
474,xqd20160475,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/28/2016 11:34,2.0,26,High School or Below,female,Vancouver
475,xqd20160476,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,11/9/2016 18:12,29.0,35,college,female,Maui
476,xqd20160477,COLLECTION_PAIDOFF,800,15,9/12/2016,10/26/2016,10/31/2016 13:07,5.0,46,college,female,Maui
498,xqd20160499,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/11/2016 22:40,1.0,38,college,female,NYC

### 15. Display only the rows where `education` is `college` AND `City` is `NYC`

In [75]:
loans[(loans["education"]=="college")&(loans["City"]=="NYC")]

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender,City
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male,NYC
7,xqd20160008,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/5/2016 20:33,NaN,36,college,male,NYC
24,xqd20160025,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/3/2016 12:50,NaN,26,college,male,NYC
31,xqd20160032,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/7/2016 21:48,NaN,37,college,male,NYC
41,xqd20160042,PAIDOFF,800,15,9/11/2016,9/25/2016,9/25/2016 14:36,NaN,30,college,male,NYC
65,xqd20160066,PAIDOFF,900,15,9/11/2016,9/25/2016,9/25/2016 23:00,NaN,28,college,male,NYC
68,xqd20160069,PAIDOFF,300,7,9/11/2016,9/17/2016,9/14/2016 22:05,NaN,35,college,male,NYC
73,xqd20160074,PAIDOFF,1000,15,9/11/2016,9/25/2016,9/25/2016 9:00,NaN,34,college,male,NYC
83,xqd20160084,PAIDOFF,800,15,9/11/2016,9/25/2016,9/25/2016 13:00,NaN,33,college,male,NYC
101,xqd20160102,PAIDOFF,800,15,9/11/2016,9/25/2016,9/25/2016 9:00,NaN,38,college,male,NYC
104,xqd20160105,PAIDOFF,1000,15,9/11/2016,9/25/2016,9/22/2016 13:15,NaN,35,college,male,NYC
108,xqd20160109,PAIDOFF,1000,30,9/11/2016,10/10/2016,10/9/2016 13:05,NaN,28,college,male,NYC
122,xqd20160123,PAIDOFF,1000,15,9/11/2016,10/25/2016,10/25/2016 9:00,NaN,20,college,male,NYC
152,xqd20160153,PAIDOFF,500,15,9/12/2016,9/26/2016,9/13/2016 20:17,NaN,23,college,female,NYC
154,xqd20160155,PAIDOFF,1000,30,9/12/2016,10/11/2016,10/10/2016 7:01,NaN,34,college,male,NYC
163,xqd28160164,PAIDOFF,1000,15,9/12/2016,9/26/2016,9/26/2016 9:00,NaN,27,college,female,NYC
195,xqd20160196,PAIDOFF,1000,30,9/12/2016,10/11/2016,10/10/2016 15:49,NaN,24,college,male,NYC
204,xqd20160205,PAIDOFF,1000,30,9/12/2016,10/11/2016,10/11/2016 9:01,NaN,20,college,male,NYC
206,xqd20160207,PAIDOFF,1000,30,9/12/2016,11/10/2016,11/10/2016 13:00,NaN,26,college,male,NYC
215,xqd20160216,PAIDOFF,1000,30,9/12/2016,11/10/2016,11/10/2016 16:00,NaN,29,college,female,NYC
220,xqd20160221,PAIDOFF,1000,15,9/12/2016,9/26/2016,9/26/2016 23:00,NaN,35,college,male,NYC
271,xqd20160272,PAIDOFF,1000,30,9/14/2016,10/13/2016,10/8/2016 17:12,NaN,32,college,female,NYC
275,xqd20160276,PAIDOFF,800,15,9/14/2016,9/28/2016,9/27/2016 15:52,NaN,44,college,male,NYC
314,xqd20160315,COLLECTION,1000,30,9/10/2016,10/9/2016,NaN,60.0,24,college,male,NYC
323,xqd20160324,COLLECTION,800,15,9/10/2016,9/24/2016,NaN,75.0,32,college,male,NYC
331,xqd20160332,COLLECTION,800,15,9/11/2016,9/25/2016,NaN,74.0,27,college,male,NYC
334,xqd20160335,COLLECTION,1000,30,9/11/2016,10/10/2016,NaN,59.0,38,college,female,NYC
363,xqd20160364,COLLECTION,1000,15,9/11/2016,9/25/2016,NaN,74.0,26,college,male,NYC
364,xqd20160365,COLLECTION,800,15,9/11/2016,9/25/2016,NaN,74.0,22,college,male,NYC
378,xqd20197340,COLLECTION,1000,30,9/11/2016,10/10/2016,NaN,59.0,30,college,male,NYC
390,xqd20160391,COLLECTION,1000,15,9/11/2016,9/25/2016,NaN,74.0,30,college,male,NYC
456,xqd20160457,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,11/18/2016 15:52,38.0,25,college,male,NYC
459,xqd20160460,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/28/2016 13:36,2.0,33,college,male,NYC
482,xqd20160483,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/27/2016 11:40,1.0,47,college,male,NYC
488,xqd20160489,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,10/9/2016 19:30,13.0,45,college,male,NYC
498,xqd20160499,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/11/2016 22:40,1.0,38,college,female,NYC

### 16. Display only the rows where `age` is larger than 32

In [76]:
loans[loans.age > 32]

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender,City
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male,Vancouver
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female,NYC
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female,Houston
5,xqd20160706,PAIDOFF,300,7,9/9/2016,9/15/2016,9/9/2016 13:45,NaN,35,Master or Above,male,Houston
7,xqd20160008,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/5/2016 20:33,NaN,36,college,male,NYC
...,...,...,...,...,...,...,...,...,...,...,...,...
487,xqd20160488,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/13/2016 12:02,2.0,35,Bechalor,male,Calgary
488,xqd20160489,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,10/9/2016 19:30,13.0,45,college,male,NYC
489,xqd20160490,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/12/2016 18:04,1.0,36,college,male,Maui
490,xqd20160491,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/17/2016 10:53,6.0,38,High School or Below,male,Calgary
498,xqd20160499,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/11/2016 22:40,1.0,38,college,female,NYC

### 17.  Display the rows where there is a past-due of larger than a week and only display the `due_date` and `past_due_days` columns

In [81]:
loans[loans.past_due_days > 7][['due_date', 'past_due_days']]

       due_date  past_due_days
300   9/23/2016           76.0
301   10/8/2016           61.0
302   10/8/2016           61.0
303   9/23/2016           76.0
304   9/23/2016           76.0
..          ...            ...
488   9/26/2016           13.0
491  10/11/2016           29.0
492  10/11/2016           14.0
496   9/26/2016           14.0
499  10/11/2016            8.0

[128 rows x 2 columns]